
audio::-webkit-media-controls-panel{
    background-color: black;
    /* width: 40vw !important; */
}


audio::-webkit-media-controls-volume-slider{
    border: 7px;
    padding:0px;
}

audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button{
    background-color:white;
    /* border-radius: 100%; */
}

audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button{
    background-color:white;
    border-radius: 100%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display{
    color: #fff;
}