html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
    scroll-behavior:smooth !important;
}
#title{
    color:#fff;
    font-size: 46px;
    font-weight: bolder;
    margin-bottom: 10vh;
}

#myrow{
    margin:auto;
    margin-top: 10vh;
}

#mycol{
    margin: auto;
    height: 60vh;

}


#spotify-btn:hover{
    background-color:  #1ed760;

}

#spotify-btn{
    background-color: #000;
    padding: 10px;
    font-size: 24px;
    border-radius: 30px;
    transition : all 0.5s;
    outline: none;

}





.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 300px;
    font-size: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




@media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
zoom : 0.8;
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
body{
    zoom : 0.8;
}
}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
 zoom : 0.8;
}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    zoom : 1;
}
@media (min-width:1025px) { 
zoom : 0.9;
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
zoom : 1;
}





