.album-name {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    /* margin-left: 8px */
    margin: auto;
}

.album-info {
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    margin: auto;

    /* in case the text is too long */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;


    /* margin: 8px; */
}

/* .marque{
    white-space: nowrap;
    display: inline-block;
    animation: moveit 12s linear infinite;
}

@keyframes moveit{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100);
    }
} */

.album-releases {
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    margin: auto;

    /* margin: 8px; */

}