.controls-wrapper {
    width: 50%;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .action-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .action-btn:hover {
    transform: scale(1.1);
  }
  
  .play-pause-btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    padding: 20px;
    width: 70px;
    height: 70px;
    border-radius: 30px;
    background-color: #1ed760;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: inset -4px -4px 10px #000, inset 4px 4px 10px 1px #1ed760;
  }
  
  .play-pause-btn.active {
    box-shadow: inset -4px -4px 10px #1ed760, inset 4px 4px 10px 1px #000;
  }
  
  .play-pause-btn:hover {
    transform: scale(1.1);
  }